@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<h1>Bowlers</h1>

<ul>
    @foreach (var b in Model)
    {
        <li>@b.BowlerFirstName @b.BowlerMiddleInit @b.BowlerLastName |
            @b.BowlerAddress @b.BowlerCity, @b.BowlerState @b.BowlerZip |
            @b.BowlerPhoneNumber |
            <a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@b.BowlerID">Edit</a>
            <a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@b.BowlerID">Delete</a>
        </li>
    }
</ul>

<a asp-controller="Home" asp-action="Create">Add Bowler</a>